$ sudo update-alternatives --install /usr/bin/python python /usr/bin/python3.4 1
$ sudo update-alternatives --config python




numpy
onnx
onnxruntime
Cython
cmake
opencv-python-headless==4.6.0.66
tensorflow-hub
pillow==9.0.1
tensorflow
matplotlib==3.5.1
temp
streamlit_webrtc
thread6
av
python==3.8
insightface
